<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fer</title>
    <link rel="icon" type="image/png" href="https://jimdo-storage.freetls.fastly.net/image/422426720/7e2ece95-60ab-4f20-b812-8e04f46bf5eb.png?quality=80,90&auto=webp&disable=upscale&width=480&height=276&trim=0,0,0,0">
    <%- include('partials/head') %>
    <style>
      p {
        position: relative; /* Set the position to relative for absolute positioning */
        background-color: #f0f0f0;
        border: 2px solid #3498db;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        font-family: "Arial", sans-serif;
        max-width: 600px;
        margin: auto;
      }

      .profile-image {
        position: absolute; /* Set the position to absolute for precise placement */
        bottom: 0; /* Align to the bottom */
        right: 0; /* Align to the right */
        width: 80px; /* Adjust the width of the image */
        border-radius: 50%; /* Create a circular border for the image */
      }

      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      .rss-container {
        position: fixed;
        left: 0;
        top: 50%;
        padding: 10px;
        width: 50px;
      }

      .rss-item {
        display: block;
        margin-bottom: 10px;
      }

      .rss-item img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
      }

      body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 0px;
      }

      a {
        display: inline-block;
        padding: 0px 40px;
        font-size: 20px;
        text-decoration: none;
        color: #fff;
        background-color: #3498db;
        border-radius: 5px;
        transition: background-color 0.3s ease;
      }

      a:hover {
        background-color: #2980b9;
      }
    </style>
  </head>
  <body>
    <%- include('partials/navigation') %>

    <div class="rss-container">
      <a
        class="rss-item"
        href="https://fernando-zarama-pardo.jimdosite.com/"
        target="_blank"
      >
        <img src="/img/logoFer.png" alt="Fernando Zarama Pardo" />
      </a>

      <a
        class="rss-item"
        href="https://www.linkedin.com/in/fernandozaramapardo-frontenddeveloper/"
        target="_blank"
      >
        <img
          src="https://static-00.iconduck.com/assets.00/linkedin-icon-2048x2048-ya5g47j2.png"
        />
      </a>
      <a
        class="rss-item"
        href="https://www.instagram.com/ferzaramap/"
        target="_blank"
      >
        <img
          src="https://eltallerdehector.com/wp-content/uploads/2022/06/cd939-logo-instagram-png.png"
          alt="Twitter ACL"
        />
      </a>
      <a
        class="rss-item"
        href="https://www.amazon.com/stores/Sr-Fernando-Zarama-Pardo/author/B0C9XG2Z8J?ref=ap_rdr&store_ref=ap_rdr&isDramIntegrated=true&shoppingPortalEnabled=true"
        target="_blank"
      >
        <img
          src="https://logowik.com/content/uploads/images/amazon6707.jpg"
          alt="Instagram ACL"
        />
      </a>
      <a
        class="rss-item"
        href="https://aclcolombia.com/voces-acl/fernando-zarama/"
        target="_blank"
      >
        <img
          src="https://pbs.twimg.com/profile_images/951156091454402560/aU397EQz_400x400.jpg"
        />
      </a>
    </div>

    <main>
      <section>
        <h1 class="display-1">About</h1>
        <p>
           Desarrollador Full Stack | Apasionado por la Innovaci贸n y
          Eficiencia  Soy un apasionado Full Stack Developer con un enfoque
          claro en crear soluciones tecnol贸gicas innovadoras y eficientes. Mi
          pasi贸n por la tecnolog铆a me lleva a explorar y desarrollar en el lado
          del cliente lo que me permite crear aplicaciones web completas y
          altamente funcionales. Pero no soy solo un desarrollador, tambi茅n
          aporto un valioso conjunto de habilidades blandas que benefician a las
          empresas en muchos aspectos. Mi enfoque principal se centra en el
          front end, donde despliego mi capacidad para dise帽ar e implementar
          interfaces de usuario atractivas y f谩ciles de usar. Adem谩s, cuento con
          s贸lidos conocimientos de dise帽o, lo que me permite construir un puente
          de colaboraci贸n s贸lido entre el dise帽ador y el equipo de desarrollo,
          creando as铆 plataformas inolvidables para los usuarios. Adicionalmente
          soy escritor y autor de libros para Amazon, columnista, periodista y
          locutor En resumen, mi objetivo es marcar la diferencia en el mundo
          tecnol贸gico, period铆stico, comunicativo y de la literatura, impulsando
          la innovaci贸n y la eficiencia en cada proyecto en el que me involucro.
          驴Quieres ser parte de esa transformaci贸n?

          <!-- Add the profile image inside the <p> element -->
          <img src="/img/logoFer.png" alt="Profile" class="profile-image" />
        </p>
      </section>
    </main>

    <%- include('partials/footer') %>

    <footer>
      <h2>Go to My Home Page</h2>
      <a href="https://fernando-zarama-pardo.jimdosite.com/" target="_blank"
        >Visit My Website</a
      >
      <a href="/task" class="footer-btn">Task</a>
      <a href="/Wishes" class="footer-btn">Wish</a>
      <a href="/car" class="footer-btn">Car</a>
    </footer>
  </body>
</html>
