<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
     
<body>
    <h1>Abriendo Caminos | Main Page</h1>

    <header class="header content">
        <div class="header-video">
              <video width="1000" height="1000" controls></video>
 <source src="video/vecteezy_communication-network-world-hologram-network-computer_7199879_470.mp4" type="video/mp4">
 <source src="video/vecteezy_communication-network-world-hologram-network-computer_7199879_470.mp4" type="video/mp4">
 
        </div>
    </header>

        <div class="header-overlay"></div>
        <div class="header-content">
            <h1>Main app with node.js</h1>
            <p>This is a test with node, express, json, dotenv and more to testing this app</p>
            <a href="https://www.volvocars.com/co/" target="blank" class="btn">Enter to this page and fun the route</a>
               </div>
    </header>
            
</body>
</html>