<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <link rel="icon" type="image/png" href="https://jimdo-storage.freetls.fastly.net/image/422426720/7e2ece95-60ab-4f20-b812-8e04f46bf5eb.png?quality=80,90&auto=webp&disable=upscale&width=480&height=276&trim=0,0,0,0">

    <%- include('partials/head') %>
  </head>

  <body>
    <%- include('partials/navigation') %>

    <!--Main content-->

    <header
      class="container vh-100 d-flex justify-content-center align-items-center"
    >
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="/img/logoFer.png" alt="Logo" class="w-50" />
        <h1 class="display-1 my-5 text-uppercase fw-bold text-align-center">
          Fernando Zarama Pardo
        </h1>
        <a href="/Wishes" class="btn btn-primary w-30 text-center">Wish</a>
      </div>
    </header>

    
    <%- include('partials/footer') %>
  </body>
</html>
