<footer>
    <h1>Welcome to my firts app</h1>
    <p>Here you will find all the concepts learnt during the ADA school course, enter and navigate in the application "opening paths" and continue enjoying life, because everything starts with a dream.</p>
</footer>